
  # Must be a TZ recognized by ActiveSupport::TimeWithZone::MAPPING
  # https://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html
  tz: "Eastern Time (US & Canada)"

  #
  # Define a list of people.
  # You'll use this same name to refer to people in the configs below
  #
  people:
    abhishek:
      github: abhchand
      slack: abhishek
    matty:
      github: matty
      slack: Matty Ice
    serena:
      github: swilliams
      slack: Serena Williams

  #
  # Define a list of states and one or more github labels they
  # correspond to.
  #
  # "none" is an special (optional) keyword that defines a state
  # to be used when a Pull Request does not have one of the
  # other defined labels below.


  states:
    development:
      display_name: In Development
      labels:
        - "WIP :construction:"
        - Reopened
        - none
    code_review:
      display_name: In Code Review
      labels:
        - "Code Review :mag:"
        - ":eyes: Code Review"
        - "Code OK :+1:"
    qa_review:
      display_name: Ready for QA Review
      labels:
        - "QA Review"
        - ":hammer: QA Review"
        - "QA OK :+1:"
    product_review:
      display_name: Ready for Product Review
      labels:
        - "Product Review"
    ready_to_ship:
      display_name:  Ready for Deploy
      labels:
        - "Ready to Ship"

  #
  # Define a list of projects.
  # Each project key should correspond to an actual Github Project board ID!
  #
  projects:
    callrail:
      callrail:
        4:
          # Required: (IMPORTANT!) Must match the *actual* name of the Github Project
          name: Billing Team
          # Required: Specify which people are associated with this project
          # This should reference the list of people you defined above
          members:
            - abhishek
            - matty
          # Optional. Assign owners or responsible party for any states defined above.
          state_owners:
            qa_review: serena
            product_review: abhishek
            ready_to_ship: abhishek

      swappy:
        2:
          name: Some Cool Project
          members:
            - matty
            - serena
          state_owners:
            qa_review: abhishek
